/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-off-black bg-white selection:bg-[#FF5F38] selection:text-white;
  overscroll-behavior: none!important;
}

.a11y-focus {
  @apply outline-none ring-current focus-visible:ring-4;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
}

@screen lg {
  .embla__slide {
    flex: 0 0 40%;
    min-width: 0;
  }
}

@screen 2xl {
  .embla__slide {
    flex: 0 0 37%;
    min-width: 0;
  }
}

.black-select {
  @apply selection:bg-black selection:text-current !important;
}

html.lenis {
  height: auto;
}


.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}

.lenis-scrolling {
  .follow-wrapper {
    pointer-events: none !important;
  }
}

.rounded-full {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0)
}

iframe {
  @apply my-8 lg:my-12 w-full aspect-video !important;
}

.iin-phone a {
  position: relative;
}
.iin-phone a:before {
  background-color: #BDB800;
  bottom: 0;
  content: '';
  height: 1.25px;
  left: auto;
  position: absolute;
  right: 0;
  transition: all .25s ease;
  width: 0;
}
.iin-phone a:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}

.content > p a {
  text-decoration: underline !important;
}

.content > p > a > * {
  text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.content p,
.content li {
   a  {
     color: rgba(60, 0, 181, 1);
     transition-property: all;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-duration: 150ms;
     text-decoration: underline !important;

     span {
       color: inherit !important
     }

     &.linkUnset {
       color: unset !important;
     }

     &:hover {
       color: rgba(252, 130, 0,1) !important;
     }
  }
}

h1.text-\[\#F5F1E1\],
h2.text-\[\#F5F1E1\],
h3.text-\[\#F5F1E1\],
h4.text-\[\#F5F1E1\],
h5.text-\[\#F5F1E1\],
h6.text-\[\#F5F1E1\],
.content p.text-\[\#F5F1E1\],
.content li.text-\[\#F5F1E1\],
.text-\[\#F5F1E1\] .content p,
.text-\[\#F5F1E1\] .content li,
h1.text-white,
h2.text-white,
h3.text-white,
h4.text-white,
h5.text-white,
h6.text-white,
.content p.text-white,
.content li.text-white,
.text-white .content p,
.text-white .content li{
  a {
    color: rgba(252, 130, 0,1) !important;

    &:hover {
      color: white !important;
    }
  }
}

blockquote {
  color: black;
  background-color: rgba(252, 130, 0, .2);
  box-shadow: 0 0 6px 1px rgba(252, 130, 0, .5);
  border-radius: 4px;
  font-size: 1.25rem;
  font-style: italic;
  padding: .5rem 1rem;
}